# python 3.10.4
# arm64 Apple M1
# chrome
# chrome driver
pip~=22.2.1
pandas~=1.4.3
requests~=2.28.1
xmltodict~=0.13.0
aiohttp~=3.8.1
nest_asyncio~=1.5.5
IPython~=8.4.0
fastparquet~=0.8.1
pyarrow~=8.0.0
selenium~=4.3.0
lxml~=4.9.1
mirutil~=2.9
webdriver_manager~=3.8.3